/*///////////////////////////////////////////////////*/
/*                  General styling                  */
/*///////////////////////////////////////////////////*/
/* Declare color variables for global use */
:root {
  --yellow: #FECB3D;
  --dark-yellow: #F1C13A;
  --dark-grey: #424043;
  --red: #F42D21;
  --light-red: #dc3545;
  --green: #33A567;
}
body {
  font-family: "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif" !important;
}
/* Setting general spacing for all content in main */
main {
  margin: 0 auto;
  max-width: 1280px;
}
.bold {
    font-weight: bold;
}
.offscreen {
  display: none;
}
.button {
  background-color: var(--yellow);
  color: var(--dark-grey);
  border-radius: 10px;
  border: none;
  font-size: 22px;
  padding: 0.7rem;
  margin-top: 0.8rem;
}
.button:hover {
  background-color: var(--dark-yellow);
}
.button:active {
  transform: scale(0.98);
}
/*///////////////////////////////////////////////////*/
/*                  Specific classes                 */
/*///////////////////////////////////////////////////*/
/* Navbar */
.navbar-section {
  background-color: var(--yellow);
}
.navbar-section nav a, .navbar-section nav div ul li a  {
  color: var(--dark-grey);
}
nav.navbar {
  max-width: 1280px;
  margin: 0 auto;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  color: var(--dark-grey);
}
/* End navbar */

/* Home */
.home-section {
  margin-top: 1.6rem;
}
.map-container {
  position: relative;
}
.leaflet-container{
  width: 100%;
  height: 40rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
}
.errorOverlay {
  width: 100%;
  height: 40rem;
  background-color: rgba(66, 64, 67, 0.8);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.errorOverlay p, .errorOverlay a {
  font-size: 2rem;
  color: #FFFFFF !important;
  margin: 0 5px;
}
/* End home */

/* Form */
form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.form-section {
  width: 100%;
  margin: auto;
  margin-top: 1.6rem;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}
.form-section h1 {
  text-align: center;
  color: var(--dark-grey);
  margin-bottom: 1.6rem;
}
.form-section form input {
  background-color: #F5F3F3;
  border: none;
  border-radius: 10px;
  padding: 1rem 1.2rem;
  margin-bottom: 0.6rem;
}
.form-section form input:focus {
  outline-color: var(--dark-grey);
}
.form-section .form-redirect {
  display: flex;
  justify-content: center;
}
.form-section .form-redirect p {
  margin-right: 0.2rem;
}
/* End form */

/* Alerts */
.error-msg {
  color: rgb(207, 48, 48);
  background-color: #f8d7da;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}
.success-msg {
  color: #155724;
  background-color: #d4edda;
  border: 0.15rem solid;
  border-radius: 0.25rem;
  font-weight: bold;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
}
/* End alerts */
/*///////////////////////////////////////////////////*/
/*                 Responsive changes                */
/*///////////////////////////////////////////////////*/
@media only screen and (max-width: 1350px) {
  main {
    padding: 12px;
  }
  nav.navbar {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/*///////////////////////////////////////////////////*/
/*                       Fonts                       */
/*///////////////////////////////////////////////////*/
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}